body {
    color: #333;
    line-height: 1.5em;
    background: rgb(220,233,250);
    background:url('images/stars.gif'), radial-gradient(circle, rgba(220,233,250,1) 0%, rgba(143,160,173,1) 35%, rgba(26,37,43,1) 100%);
}

#portal {
    position:absolute;
    top:30px;
    left:30px;
    transition-duration: 1s;
}

#portal:hover {
    transform: scale(1.3);
}

section {
    display:flex;
    flex-direction:row;
    justify-content: center;
}
 
h2 {
    font-family: 'Special Elite', cursive;
    color:rgb(243, 240, 232);
    text-shadow: 0 0 11px #000000;
    font-size: 30px;
}

#quit {
    font-size:16px;
}

#volume, #volumeOff {
    background-color: rgba(0,0,0,0);
    border:none;
}

#gametitle {
    font-family: 'Special Elite', cursive;
    color:rgb(243, 240, 232);
    text-shadow: 0 0 11px #000000;
    font-size: 75px;
    line-height: 85px;
    margin:0;
}

#introQ {
    font-style: bolder;
    font-size:18px;
}

p {
    font-family: 'Sono', sans-serif;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
}

#actions {
    padding-top:50px;
    padding-bottom:0;
}
#game {
    padding-top:0;
}
#game p {
    font-size: 18px;
}

#score, #score2 {
    padding:20px;
}

#score p, #score2 p {
    padding:0;
    margin:0;
    color:rgb(243, 240, 232);
    font-family: 'Special Elite', cursive;
    font-size: 32px;
    text-shadow: 0px 0px 5px #000000;
}

button { 
    padding: 10px;
    background-color:rgb(243, 240, 232);
    font-family:'Sono', sans-serif;
    border-radius:15px;
}

#roll, #rollagain, #pass {
    font-size: 24px;
    border-width: 5px;
}

div {
    padding: 20px;
    text-align:center;

}

#titlecolumn{
    width:600px;
}

